.exchange {
  margin: 0 0 6.25rem 0;
}
.exchange__title {
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--black);
  font-family: "Jost";
  margin: 0 0 6rem 0;
}
.exchange__content {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
}
.exchange__subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--darkGrey);
  font-family: "Jost";
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid var(--orange);
  margin: 0 0 3.5rem 0;
  height: 2.75rem;
  display: flex;
  align-items: center;
}
.exchange__image {
  margin: -10.625rem 0 0 0;
  height: calc(100% + 10rem);
}
.exchange__image img {
  width: 100%;
  height: 100%;
}
.exchange__point {
  color: var(--darkGrey);
  font-size: 0.875rem;
  line-height: 120%;
  padding: 0 0 0.5rem 1rem;
  border-bottom: 1px solid var(--orange);
  margin: 0 0 3.5rem 0;
  height: 2.75rem;
  display: flex;
  align-items: center;
}
.exchange__title.active {
  color: var(--orange);
  transition: all .5s;
}
.exchange__point.active {
  color: var(--orange);
  transition: all .5s;

}
.exchange__list {
  display: none;
}
@media (max-width: 1230px) {
  .exchange__content {
    grid-template-columns: 1fr 1.25fr 1fr;
  }
}
@media (max-width: 1200px) {
  .exchange__subtitle {
    margin: 0 0 2rem 0;
    height: 3.5rem;
    align-items: flex-end;
  }
  .exchange__point {
    margin: 0 0 2rem 0;
    height: 3.5rem;
    align-items: flex-end;
  }
}
@media (max-width: 1060px) {
  .exchange__image {
    margin: -4.5rem 0 0 0;
    height: calc(100% + 4rem);
  }
}
@media (max-width: 992px) {
  .exchange__column:nth-child(2) {
    display: none;
  }
  .exchange__content {
    grid-template-columns: 1fr 1fr;
  }
  .exchange__subtitle {
    align-items: center;
    margin: 0 0 3.5rem 0;
    height: 2.75rem;
  }
  .exchange__point {
    align-items: center;
    margin: 0 0 3.5rem 0;
    height: 2.75rem;
  }
}
@media (max-width: 768px) {
  .exchange__subtitle {
    margin: 0 0 2rem 0;
    height: 3.5rem;
  }
  .exchange__point {
    margin: 0 0 2rem 0;
    height: 3.5rem;
  }
}
@media (max-width: 540px) {
  .exchange__content {
    grid-template-columns: 1fr;
  }
  .exchange__column {
    display: none;
  }
  .exchange__list {
    display: block;
  }
  .exchange__item {
    max-width: none;
  }
  .exchange__title {
    font-size: 2.25rem;
    margin: 0 0 2.5rem 0;
  }
  .exchange__content.summary {
    padding: 0 0 0.75rem 0;
  }
}
