#main {
  margin: 5.75rem 0 6.25rem 0;
}

#main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin: 0 0 2.75rem 0;
}

.main__h1 {
  display: flex;
  align-items: flex-end;
  font-size: 4.5rem;
  font-weight: 500;
  font-family: "Jost";
  padding: 0 0 1.5rem 0;
}

.main__circle {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--orange);
  border-radius: 50%;
  margin: 0 0 0.5rem 0.5rem;
}

.main__text {
  max-width: 24.5rem;
  font-size: 1rem;
  line-height: 120%;
}

.main__form {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../images/main-bakcground.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.75rem 1rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  width: 100%;
}

.main__h2 {
  font-size: 2.75rem;
  font-weight: 500;
  font-family: "Jost";
  color: var(--white);
  margin: 0 0 2.75rem 0;
}

.main__input {
  border: 2px solid var(--orange);
  margin: 0 0 0.625rem 0;
  padding: 1rem;
  font-family: "Jost";
  font-size: 1.25rem;
  font-weight: 500;
  background: transparent;
  color: var(--white);
}

.main__input:last-child {
  margin: 0 0 0 0;
}

.main__input::placeholder {
  color: var(--white);
}

.main__button {
  padding: 1.25rem 0;
  background-color: var(--orange);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--white);
  margin: 3.5rem 0 0 0;
}

@media screen and (max-width: 768px) {
  #main {
    margin: 50px 0 100px 0;
  }

  .main__form {
    padding: 95px 1rem;
  }
}

@media screen and (max-width: 430px) {
  .main__h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 384px) {
  .main__h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 340px) {
  .main__h1 {
    font-size: 3.2rem;
  }
}
