@import './fonts.css';
@import './vars.css';
@import './null-style.css';
@import './grid.css';
@import './header.css';
@import './main.css';
@import './why.css';
@import './swiper.css';
@import './benefits.css';
@import './about.css';
@import './cars.css';
@import './swap.css';
@import './faq.css';
@import './exchange.css';
@import './documents.css';
@import './footer.css';

body {
  font-family: 'Montserrat';
  background-color: var(--grey);
  font-size: 1rem;
}
