:root {
  --orange: #e0462d;
  --black: #181818;
  --white: #fff;
  --lightGray: #eff0f3;
  --grey: #eaebf0;
  --darkGrey: #a0a0a0;
  --darkOrange: #6f1e11;
  --lightOrange: rgba(224, 70, 45, 0.75);
  --footerIconGray: #7d7d7d;
}
